.main-page-resize {
  margin: 0 auto;
  width: 600px;
}

body.main-page {
  background: rgb(250, 251, 252);
}

header.main-page {
  margin: 0;
  font: 400 18px/1em 'Roboto';
  color: #5D6063;
}

main.main-page {
  max-width: 100%;
  padding: 156px 0 0;
}

div.main-page-title {
  margin-bottom: 112px;
}

div.main-page-title img {
  display: block;
  width: 175px;
  height: auto;
  margin: 0 auto 58px;
}

div.main-page-title h1 {
  margin-bottom: 12px;
  text-align: center;
  color: #5D6063;
  font: 400 57px/60px 'Roboto';
  text-transform: uppercase;
}

div.main-page-title p.parentheses {
  position: relative;
  margin: 0 0 10px 0;
  text-align: center;
  color: #5D6063;
  font: 400 24px/28px 'Roboto';
  text-transform: uppercase;
}

div.main-page-title p.parentheses:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  border-bottom: 1px solid #959ba0;
  height: 50%;
  width: 85px;
}
div.main-page-title p.parentheses:after {
  content: '';
  position: absolute;
  top: 2px;
  right: 0;
  display: block;
  border-bottom: 1px solid #959ba0;
  height: 50%;
  width: 85px; 
}

div.main-page-title p.main-page-subtitle {
  margin: 0;
  text-align: center;
  color: #5D6063;
  font: 400 italic 18px/28px 'Century';
}

section.chapter-item {
  padding: 90px 0 84px;
  border-top: 1px solid #EAEDF0;
}

.chapter-wrapper {
  display: flex;
  max-width: 580px;
}

section.chapter-item:nth-child(odd) .chapter-wrapper {
  flex-direction: row-reverse;
}

.chapter-text {
  font: normal 18px/28px 'Century';
  color: rgba(93, 96, 99, 1);
}

.chapter-heading {
  margin-bottom: 5px;
  font: 500 22px/1em 'Roboto';
}

.chapter-heading:hover {
  text-decoration: underline;
}

.chapter-heading > a {
  color: inherit;
}

section:nth-child(odd).chapter-item .chapter-heading {
  margin-left: 24px;
  margin-right: -15px;
}

section.chapter-item .chapter-description {
  letter-spacing: -0.5px;
}

section:nth-child(even).chapter-item .chapter-description {
  margin-right: 40px;
  font: normal 18px/28px 'Century';
}

section:nth-child(odd).chapter-item .chapter-description {
  flex-direction: row-reverse;
  margin-left: 24px;
}

img.chapter-icon {
  width: 187px;
  margin-top: 18px;
  font-size: 0;
  line-height: 0;
}

footer {
  padding: 41px 0 39px;
  border-top: 1px solid #EAEDF0;
}

.footer-logo {
  margin: 0 -15px 10px;
}

.footer-logo span {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}

.footer-logo span::before {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #959ba0;
}

.footer-logo span::after {
  content: '';
  display: block;
  width: 100%;  
  border-bottom: 1px solid #959ba0;
}

.footer-logo span img {
  margin: 0 5px;
  max-width: 60px;
  height: 100%;
}