@charset "UTF-8";
.str0 {stroke:#FF4853;stroke-width:92.9074}
.str1 {stroke:white;stroke-width:94.3686}
.str2 {stroke:white;stroke-width:2.43532}
.fil0 {fill:none}
.fil1 {fill:#009AFC}
.fil2 {fill:white}
